@model IEnumerable<Dominio.Entidades.Tipo>

@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo_huesped)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo_huesped)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { nombre = item.Nombre }) |
                @Html.ActionLink("Delete", "Delete", new { nombre = item.Nombre })
            </td>
        </tr>
}
    </tbody>
</table>
@ViewBag.msg
