@model IEnumerable<Dominio.Entidades.Mantenimiento>

@{
    ViewData["Title"] = "GetAllEntreFechas";
}

<h1>Cabañas (Entre Fechas)</h1>

@if (Model != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Costo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trabajador.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreCabaña)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Trabajador.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCabaña)
                </td>
            </tr>
    }
        </tbody>
    </table>
}
@ViewBag.msg